################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PromotionEngine/.vs/PromotionEngine/v16/.suo
/PromotionEngine/PromotionEngine/obj
/PromotionEngine/PromotionEngine/bin/Debug/net5.0
/PromotionEngine/PromotionEngine/PromotionEngine.csproj.user
/PromotionEngine/PromotionsLib/obj
/PromotionEngine/PromotionsLib/bin/Debug/net5.0
